* {
  box-sizing: border-box;
  border: 1px solid black;
}

.header{
  /*border-style: solid;
  border-bottom: thick dotted black;
  margin: 20px;
  display: inline-block;*/
  /*width: 100%;
  height: 200px;*/
  display: inline-block;
  width: 100%;

}
.headertext{
  /*width: 0 auto;
  margin: 0;*/


}
.headericons{
  /*text-align: right;
  width:25%;
  height: 50px;
  margin: 0;*/
  display: inline-block;
  width: 0  auto;
  float: right;
}
p {
  display: inline-block;
  width: 0  auto;
}
.title {
  width: 100%;
  display: inline-block;
}
.printicon{
  display: inline-block;
  width: 0  auto;
  float: right;
}
.cakeimage, .recipe {
  text-align: center;
}
.paragraphs{
  text-indent: 2em;
}
.van {
  width: 0  auto;
  display: block;
}
.footer{
  text-align: center;
}
.footerp{
  display:block;
  margin: 0;
}
.share {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 2em;
  padding-left: 2em;
  float: right;
  background-color: maroon;
  color: white;
}
