* {
  box-sizing: border-box;
}

.header{
  border-style: solid;
  border-bottom: thick dotted black;
  margin: 20px;
  display: inline-block;
  width: 100%;
  height: 200px;
}
.headertext{
  width: 25%;
  height: 50px;
  margin: 0;
  float: left;

}
.headericons{
  text-align: right;
  width:25%;
  height: 50px;
  margin: 0;
}
